In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
imdb = Table.read_table('imdb.csv')
imdb.show(5)

# Question 1
Find the ten movies released in the year 2000 or later with the highest number of votes according to imdb.csv. Format your answer as a table with columns Title and Votes (in that order) of the three requested movies.

In [31]:
ten = imdb.where("Year", are.above_or_equal_to(2000)).select("Title","Votes").sort("Votes",descending = True).take(np.arange(0,10))
ten

vote = ten.column("Votes")
np.average(vote)

1026253.2

# Question 2

Create a table with columns Title and Votes containing all movies released in 1999.

Next, attach a new column to the table called Percent Votes that contains the percent of votes each movie received when considered among all votes cast for movies released in 1999.

For example, if the total number of votes cast for movies released in 1999 is 200 and "The Matrix" received 30 of them, then the column Percent Votes corresponding to "The Matrix" should 15.

In [56]:
movies = imdb.where("Year", 1999).select("Title","Votes")

votes = movies.column("Votes")

percent = np.round(votes/(np.sum(votes)) * 100,2)

final = movies.with_columns("Percent",percent)

final

Title           | Votes   | Percent
Fight Club      | 1177098 | 27.44
American Beauty | 735056  | 17.14
The Sixth Sense | 630994  | 14.71
The Matrix      | 1073043 | 25.02
The Green Mile  | 672878  | 15.69